// Custom.scss

// Theming
$primary: #743089;
$dark: #000;

// Defaults
@import "../bootstrap/scss/bootstrap";

// CSS

.logo {
    font-family: "Cabin", "Helvetica Neue", Helvetica,Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
}
.logoai {
    text-transform: lowercase;
    font-size: 1.25rem;
    color: $primary;
}

.quotefont {
    font-family: Montserrat
}

// Landing page
.chair {
    height: 45%;
}
@media (min-width: 768px) {
    .chair {
        height: 90%;
    }
}

.centerifdesktop {
    align-items: start;
    justify-content: start;
    flex-flow: column;
}
@media (min-width: 768px) {
    .centerifdesktop {
        align-items: center;
        justify-content: center;
        flex-flow: row;
    }
}